certifi
chardet
click
filelock
Flask
idna
itsdangerous
Jinja2
joblib
MarkupSafe
numpy
packaging
Pillow
pyparsing
regex
requests
sacremoses
six
tokenizers
pytorch
torchaudio
torchvision
tqdm
transformers
typing-extensions
urllib3
Werkzeug
